.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header .header_tit {
  font-size: 24px;
  font-weight: 900;
}

.header .header_icon {
  font-size: 20px;
  font-weight: 100;
}
