nav {
  position: fixed;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  box-sizing: border-box;
  left:0;
  width: 100%;
}

nav ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

